@font-face {
    font-family: Inter;
    src: url('fonts/Inter.ttf');
}  

html,body {
    height: 80vh;
    margin: 0;
}


.background-image {
    background-image: url("images/background.png");
  
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-image2 {
    background-image: url("images/Subbackground.png");
    
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
    .div1 { 
        grid-area: 1 / 1 / 6 / 2; 
        border-radius: 10px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        background-color: #a6a6a6;
        height: 100%;
        opacity: 60%;
    }
    .div2 { 
        grid-area: 1 / 2 / 4 / 3; 
        border-radius: 10px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        background-color: #a6a6a6;
        opacity: 60%;
    }
    .div3 { 
        grid-area: 4 / 2 / 6 / 6;
        border-radius: 10px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        background-color: #a6a6a6;
        opacity: 60%; 
        height: 100%;
    }
    .div4 { 
        grid-area: 1 / 3 / 4 / 6;
        border-radius: 10px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        background-color: #a6a6a6;
        opacity: 60%; 
    } 

    .gridcontainer {
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

.weathericon{
    float: right;
    width: 15%;
    margin-top: 2%;
    margin-right: 2%;
}

.weathertext{
    float: right;
    font-family: Inter;
    font-size: small;
    margin-top: 15%;
    margin-right: -10%;
}

.time1{
    float: left;
    margin-left: 1%;
    margin-top: -1%;
    font-family: Inter;
}

.time2{
    float: left;
    font-family: Inter;
    font-size: small;
    margin-top: 35px;
    margin-left: -75px;
    
}

.ul1{
    margin-top: 85%;
    list-style-type: none;
}

.ul_class1{
    background: #d4d4d4;
    text-align: left;
    display: flex;
    margin: 1%;
    margin-right: 15%;
    border-radius: 3%;
}

.ul2{
    margin-top: 40%;
}

.ul_class2{
    background: none;
    margin: 2%;
    font-family: Inter;
    text-align: left;
    margin-right: 15%;
}

.MensenThuis{
    width: 25%;
    float: right;
    margin-right: 35%;
    margin-top: 10%;
}

.textareastyle{
    width: 100%;
    resize: none;
}

.todotext{
    font-family: Inter;
}

.calendergrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 5px;
}

    .div11{
        grid-area: 1 / 1 / 2 / 2; 
        background-color:  #d4d4d4;
    }
    .div22{
        grid-area: 1 / 2 / 2 / 3; 
        background-color:  #d4d4d4;
    }
    .div33{
        grid-area: 1 / 3 / 2 / 4; 
        background-color:  #d4d4d4;
    }
    .div44{
        grid-area: 2 / 1 / 3 / 2; 
        background-color:  #d4d4d4;
    }      
    .div55{
        grid-area: 2 / 2 / 3 / 3; 
        background-color:  #d4d4d4;
    }
    .div66{
        grid-area: 2 / 3 / 3 / 4; 
        background-color:  #d4d4d4;
    }
    .div77{
        grid-area: 3 / 1 / 4 / 2; 
        background-color:  #d4d4d4;
    }
    .div88{
        grid-area: 3 / 2 / 4 / 3; 
        background-color:  #d4d4d4;
    }
    .div99{
        grid-area: 3 / 3 / 4 / 4; 
        background-color:  #d4d4d4;
    }

.calendararea{
    width: 80%;
    height: 80%;
    resize: none;

}
.foto1{
    width: 200px;
}

.foto2{
    width: 200px;
}

.contact{
    position: fixed;
    top: 0%;
    width: 5vh;
}

.contactimg{
    margin-top: 25vh;
    width: 15vh;
}

.ul3{
    list-style: none;
}

.ul3class{
    font-family: Inter;
    margin: 15px;
}

.home{
    width: 5vh;
}